body {
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

ul {
    background-color: #f0f0f0; /* Light grey */
}

a:hover {
    color: red; /* Change color when hovered */
}

input[type="submit"] {
    background-color: orange;
    color: white;
}
